<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Warn"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogFile="${basedir}\logs\nlog-internal.log">

  <!-- enable asp.net core layout renderer -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- Colored console  -->
    <target
      xsi:type="ColoredConsole"
      name="console"
      layout="${level:uppercase=true:padding=-6} ${logger} | ${message}${onexception:${newline}${exception:format=toString,Data}}">

      <!-- Adjust highlights -->
      <highlight-row condition="level==LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level==LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level==LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level==LogLevel.Warn" foregroundColor="Gray" />
      <highlight-row condition="level==LogLevel.Error" foregroundColor="White"/>
      <highlight-row condition="level==LogLevel.Fatal" foregroundColor="White" />
      <highlight-word text="DEBUG" foregroundColor="Blue" wholeWords="true" />
      <highlight-word text="INFO" foregroundColor="DarkGreen" wholeWords="true" />
      <highlight-word text="WARN" foregroundColor="DarkYellow" wholeWords="true" />
      <highlight-word text="ERROR" foregroundColor="DarkRed" wholeWords="true"/>
      <highlight-word text="FATAL" foregroundColor="DarkRed" wholeWords="true"/>

      <highlight-word foregroundColor="Cyan" regex="Now listening on:(.)+" compileRegex="true"/>

    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip Quartz logs-->
    <logger name="Quartz.*" maxlevel="Debug" final="true" />

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="console" />

  </rules>
</nlog>